.env
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
desktop.ini
Thumbs.db
/public/css/builds
/public/js/builds
*.wav
/public/css/fonts
/public/users/avatar
*.mp4
*.m4v
*.ogv
*.webm
composer.lock
/public/blog
